body {
    background-image: url('./1351278.png    '); /* Reemplaza 'pokemon_background.jpg' con la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
  }
.title {
    display: flex;
    justify-content: center;
}
  
h1 {
    display: flex;
    justify-content: center;

}

ul {
    display: grid;
    justify-content: center;
}

li {
    background-color: rgba(28, 30, 30, 0.607);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: black solid ;
    margin: 5px;
    padding: 10px;
    width: 300px;
}

a {
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}